.card {
  height: 230px;
  width: 150px;
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  &__image {
  width: 30px;
  height: 90px;
  
  }

  h1 {
    font-size: 15px;
  }
}