.card {
  height: 240px;
  width: 160px;
  border: 2px black solid;
  border-radius: 4px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  &__image {
  margin-top: 10px;  
  width: 43px;
  height: 110px;
  }
  h1 {
    font-size: 15px;
    text-align: center;
  }
  P {
    font-size: 12px;
    display: block;
    max-height: 100vh;
    text-align: center;
    overflow-y: scroll;
  }
}